* {
  padding: 0;
  margin: 0;
}
:root {
  --color1: #2cd31d;
  --color2: #76da76;
  --color3: #99f199;
  --blur: 150px;
}
body {
  height: 100vh;
  background: rgb(2, 0, 36);
  display: flex;

  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
h1 {
  color: aliceblue;
  font-size: 2rem;
  margin-top: 5rem;
}
.card {
  z-index: 3;
  width: 19.5rem;
  height: 29.5rem;
  background-color: transparent;
  border-radius: 2rem;
  margin: 2%;
  align-items: center;
  position: absolute;
  perspective: 1000px;

  display: flex;

  flex-direction: column;
}

.animate_card {
  animation: move 1s forwards ease-in-out;
}

.card-inner {
  position: relative;
  width: 100%;

  height: 100%;
  transition: transform 0.6s; /* Adding transition for smooth flipping */
  transform-style: preserve-3d;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hide the back side of the card */
}

.card-front {
  background-color: #2b2929;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
}

.card-back {
  background-color: #2b2929;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  flex-direction: column;
color: white;


  transform: rotateY(180deg); /* Initially hide the back side of the card */
}

.card-back>img{
    max-width: 18rem;
    border: #0069d9 2px solid;
    border-radius: 12px;
max-height: 18rem;
}
.result{
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.card.flipped .card-inner {
  transform: rotateY(180deg); /* Flip the card to its back side */
}

.upload-area {
  width: 90%;
  height: 50%;
  margin-top: 0rem;
  border: 2px dashed #007bff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


#uploadArea.drag-over {
  border-color: #00ccff;
}

.upload-area p {
  color: #888;
  font-size: 16px;
}

.uploadArea_afterUpload {
  overflow: hidden;

  width: fit-content;
  height: 250px;
  border: 2px solid #007bff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14rem;
  height: 15rem;
  margin: 0rem 0 0 0rem;
}

.uploadArea_afterUpload > img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.uploadArea_afterUpload:hover {
}

#uploadInput {
  display: none;
}

.main-body {
  overflow: hidden;
  margin-top: 6rem;
  padding: 0;
  position: inherit;
  background-color: transparent;
  width: 20rem;
  height: 30rem;
  display: flex;
  flex-direction: column;

  border-radius: 2.3rem;
  align-items: center;
  justify-content: center;
}
.backspinner-1 {
  background-color: rgb(9, 245, 41);
  width: 45rem;
  opacity: 0;

  position: absolute;
  margin-right: -200%;
  margin-top: 60%;
  height: 10rem;
  animation: rotation2 2s infinite;
  z-index: 2;
}
.contnt {
  position: unset;
}
.backspinner-2 {
  opacity: 0;

  width: 60rem;
  background-color: rgb(255, 24, 16);
  z-index: 1;
  height: 10rem;
  position: relative;
  animation: rotation1 2s infinite;
  left: 150%;
  bottom: 25%;
}
@keyframes rotation1 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes rotation2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

@keyframes move {
  /* 0% {
    box-shadow: 25px 0px var(--blur) var(--color1), -25px 0px var(--blur) var(--color1);
  }
  50% {
    box-shadow: 25px 0px var(--blur) var(--color1), 45px 0px var(--blur) var(--color2),
      -25px 0px var(--blur) var(--color1), -45px 0px var(--blur) var(--color2);
  } */

  100% {
    box-shadow: 25px 0px var(--blur) var(--color1),
      45px 0px var(--blur) var(--color2), 60px 0px var(--blur) var(--color3),
      -25px 0px var(--blur) var(--color1), -45px 0px var(--blur) var(--color2),
      -60px 0px var(--blur) var(--color3);
  }
}

#selectButton {
  margin-top: 1rem;

  background-color: #007bff;
  color: #fff;
  border: none;
  width: 6rem;
  height: 2rem;
  cursor: pointer;
}

#selectButton:hover {
  background-color: #0069d9;
}

#searchButton {
  margin-top: 5rem;
  width: 15rem;
  height: 2rem;

  border-radius: 1rem;

  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #0069d9;
}
